.featured-events {
  padding: 1rem var(--content-side-padding);

  h2 {
    color: var(--header-text);
    font-family: var(--garamond-font-family);
    font-size: clamp(1.5rem, 5vw, 3rem);
    line-height: 1.2;
    margin: 0 0 1rem;
  }

  .events-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 1rem;
    row-gap: 3rem;
  }

  .events-list > div {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 4;
    gap: 0.5rem;
  }

  img {
    width: 100%;
    /* 
      img (or something else) has to be a fixed height for the grid/subgrid scheme to work as intended 
    */
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  p {
    margin: 0;
    padding: 0;
  }

  /* Link that looks like a button */
  a {
    display: inline-block;
    background-color: var(--default-button-background);
    color: var(--default-button-text);
    border: 2px solid transparent;
    font-family: var(--calibri-font-family);
    padding: 1em 2em;
    font-size: 0.8rem;
    font-weight: 500;
    outline-width: 0;
    text-decoration: none;
    transition: border-color 0.25s;
  }

  a:hover {
    border-color: #646cff;
  }

  a:focus,
  a:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}
