:root {
  --dark-green: rgb(0, 128, 58);
  --active-donation-button-background: var(--dark-green);
  --donation-button-text: var(--dark-green);
  --header-text: var(--dark-green);
  --increase-donation-button-fill: var(--dark-green);

  --light-green: rgb(0, 176, 80);
  --support-matters-header-text: var(--light-green);
  --benefits-text: var(--light-green);
  --default-button-background: var(--light-green);
  --contact-button-background: var(--light-green);
  --constact-us-circle-fill: var(--light-green);

  --pea-green: rgb(51, 102, 0);
  --nav-bar-text: var(--pea-green);

  --green63: rgb(63, 126, 0);
  --front-quote-shape-fill-color: var(--green63);

  --another-green: rgb(0, 102, 0);
  --quotes-page-background: var(--another-green);

  --black: rgb(5, 5, 5);
  --general-text: var(--black);
  --calendar-text-color: var(--black);

  --orange: rgb(255, 153, 0);
  --scout-quote-marks: var(--orange);

  --pale-yellow: rgb(236, 227, 194);
  --about-and-donation-background-color: var(--pale-yellow);
  --calendar-page-background-color: var(--pale-yellow);

  --white-values: 240, 240, 240;
  --white: rgb(var(--white-values));
  --quote-text-color: var(--white);
  --scoutmaster-quote-icon-color: var(--white);
  --donation-button-background: var(--white);
  --active-donation-button-text: var(--white);
  --default-button-text: var(--white);
  --behind-quote-shape-outline-color: var(--white);

  --white-transparent: rgba(var(--white-values), 0.8);
  --nav-bar-background: var(--white-transparent);

  --gray-158: rgb(158, 158, 158);
  --general-border-color: var(--gray-158);

  --gray127: rgb(127, 127, 127);
  --questions-blurb-test: var(--gray127);

  --gray-89: rgb(89, 89, 89);
  --donation-increase-text: var(--gray-89);

  --gray-64: rgb(64, 64, 64);
  --calendar-header-text-color: var(--gray-64);
  --calendar-event-title-color: var(--gray-64);
  --calendar-nav-text-color: var(--gray-64);

  --section-top-bottom-padding: 0;
  --gutter-width: 2em;
  /* should match SCOUT_QUOTE_WIDTH in Quote.tsx */
  --scout-quote-width: 100%;

  --system-ui-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --georgia-font-family: Georgia, 'Times New Roman', Times, serif;
  --times-new-roman-font-family:
    'Times New Roman', Times, Baskerville, Georgia, serif;
  --calibri-font-family:
    Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  --avenir-next-lt-pro-font-family:
    'Avenir Next LT Pro', 'Avenir Next', 'Avenir', 'Segoe UI', Helvetica, Arial,
    sans-serif;
  --garamond-font-family:
    Garamond, Baskerville, 'Baskerville Old Face', 'Times New Roman', Times,
    serif;
  --default-font-family: var(--calibri-font-family);

  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body:has(.contact-us-form[open]) {
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  max-width: 80%;
  position: relative;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  background-color: var(--default-button-background);
  color: var(--default-button-text);
  border: 2px solid transparent;
  padding: 1em 2em;
  font-size: 0.8rem;
  font-weight: 500;
  outline-width: 0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.top-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.plain-text-button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.about-and-donation {
  padding: var(--section-top-bottom-padding) var(--gutter-width);
  background-color: var(--about-and-donation-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.7rem;
}

#donate-header {
  color: var(--header-text);
  font-family: var(--garamond-font-family);
  text-align: center;
  font-size: 2rem;
}

.support-benefits-donate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.support-matters-header {
  color: var(--support-matters-header-text);
}

.benefits {
  color: var(--benefits-text);
  font-weight: 600;

  ul {
    font-weight: normal;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }

  ul li {
    padding-left: 2em;
  }

  ul li::before {
    content: '✔';
    padding-right: 0.4em;
  }
}

.donate-box {
  align-self: center;

  a {
    border: 2px solid transparent;
    text-align: center;
    font-size: 0.9rem;
    padding: 1em 2em;
    color: var(--default-button-text);
    background-color: var(--increase-donation-button-fill);
    text-transform: uppercase;

    span {
      line-height: 1.2;
    }

    &:hover {
      border-color: #646cff;
    }
  }
}

section.quotes {
  --picture-diameter: 75px;
  --neg-margin: 48px;

  background-color: var(--quotes-page-background);
  color: var(--quote-text-color);
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-areas: 'scout-quotes-1 scoutmaster-quote scout-quotes-2';
  gap: 0.5rem;
  width: 100%;
  padding: 1em 1em 0;
  /* clip the bottom of the section but not the other areas */
  clip-path: polygon(0 -100%, 100% -100%, 100% 100%, 0% 100%);

  & > div:nth-child(1),
  & > div:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote-wrapper {
    position: relative;
    width: var(--scout-quote-width);
    /* height: calc(140px - var(--neg-margin)); */
    /* margin-bottom: var(--neg-margin); */
  }

  .scout-picture {
    width: var(--picture-diameter);
    height: var(--picture-diameter);
    position: absolute;
    left: calc(50% - var(--picture-diameter) / 2);
    top: calc(var(--picture-diameter) / -2);
  }

  .foreground-quote,
  .background-quote {
    width: 100%;
    height: auto;
  }

  .foreground-quote {
    fill: var(--front-quote-shape-fill-color);
    /* just used so that this is on top of the background shape*/
    position: relative;
  }

  .background-quote {
    position: absolute;
    top: -5px;
    left: 5px;
    fill: transparent;
    stroke: var(--behind-quote-shape-outline-color);
    /* border: 1px solid var(--behind-quote-shape-outline-color); */
  }

  .left-quote-icon {
    position: absolute;
    top: 10px;
    left: 7px;
    width: 20px;
    height: 20px;
    fill: var(--scout-quote-marks);
  }

  .right-quote-icon {
    --quote-distance-from-bottom: 70px;

    position: absolute;
    bottom: calc(var(--quote-distance-from-bottom) - var(--neg-margin));
    right: 4px;
    width: 20px;
    height: 20px;
    fill: var(--scout-quote-marks);
  }

  .quote-content {
    position: absolute;
    top: 0;
    bottom: 60px;
    width: 100%;
    /* height: 100%; */
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
    align-items: center;
  }

  .quote-text {
    margin-bottom: 1em;
    padding: 0 3em;
  }

  .name-rank-age {
    font-family: var(--times-new-roman-font-family);
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
  }

  .scoutmaster-quote-content {
    --scoutmaster-quote-bottom-padding: 3px;
    --scoutmaster-quote-side-padding: 3px;
    --scoutmaster-quote-top-padding: 8px;

    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      padding: 0;
      margin: 0;
    }

    .left-quote-icon,
    .right-quote-icon {
      fill: var(--scoutmaster-quote-icon-color);
      border: 2px solid var(--scoutmaster-quote-icon-color);
      width: calc(20px + var(--scoutmaster-quote-side-padding));
      height: calc(
        20px + var(--scoutmaster-quote-bottom-padding) +
          var(--scoutmaster-quote-top-padding)
      );
      padding-bottom: var(--scoutmaster-quote-bottom-padding);
      padding-top: var(--scoutmaster-quote-top-padding);
    }

    .left-quote-icon {
      border-bottom: none;
      border-right: none;
      padding-left: var(--scoutmaster-quote-side-padding);
    }

    .right-quote-icon {
      border-top: none;
      border-left: none;
      padding-right: var(--scoutmaster-quote-side-padding);
    }

    .quote-text {
      padding: 3em 2em 0;
      font-size: 18px;
    }

    .name-years {
      align-self: center;
      font-family: var(--avenir-next-lt-pro-font-family);
      text-align: center;
      margin-bottom: 1.5em;
      margin-right: 40px;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.questions-text {
  font-size: 0.9rem;
  color: var(--questions-blurb-test);
  text-align: center;
  width: 70%;
}

.contact-us-section {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 2em;
  width: 100%;
  padding: var(--section-top-bottom-padding) var(--gutter-width);

  #contact-us-header {
    font-size: 2rem;
  }

  & .circle-images {
    margin-top: 2rem;
    position: relative;

    & .circle-shape {
      position: absolute;
      fill: var(--constact-us-circle-fill);
      width: 200px;
      top: 85px;
      left: 150px;
    }

    & .circle-image {
      border-radius: 50%;
      border: 8px solid white;
      outline: 1px solid var(--gray-64);
      overflow: hidden;
      display: inline-block;
      position: absolute;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }

    & .circle-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & .small-image {
      width: 250px;
      height: 250px;
    }

    & .large-image {
      width: 300px;
      height: 300px;
      top: 120px;
      left: 250px;
    }
  }
}

.contact-us-form {
  border-width: 0;
  border-radius: 8px;
  overscroll-behavior: contain;
  padding: 1rem 2rem;
  width: 40%;

  .required-asterisk {
    color: red;
    font-size: 0.6em;
    vertical-align: super;
  }

  input,
  textarea {
    display: inline-block;
    font-family: var(--default-font-family);
    font-size: 1rem;
    outline: 3px solid transparent;
    margin-bottom: 0.8rem;
    padding: 0.5em 1em;
    width: 100%;
  }

  input:user-invalid,
  textarea:user-invalid {
    border-color: red;
  }
}

/* TODO: Improve mobile layout */
/* TODO: After publish: Add dark mode styles */
