:root {
  --dark-green: rgb(0, 128, 58);
  --active-donation-button-background: var(--dark-green);
  --donation-button-text: var(--dark-green);
  --header-text: var(--dark-green);
  --quotes-page-background: var(--dark-green);
  --increase-donation-button-fill: var(--dark-green);

  --light-green: rgb(0, 176, 80);
  --support-matters-header-text: var(--light-green);
  --benefits-text: var(--light-green);
  --default-button-background: var(--light-green);
  --contact-button-background: var(--light-green);

  --pea-green: rgb(51, 102, 0);
  --nav-bar-text: var(--pea-green);
  --quote-background-color: var(--pea-green);

  --black: rgb(5, 5, 5);
  --general-text: var(--black);

  --orange: rgb(255, 153, 0);
  --scout-quote-marks: var(--orange);

  --light-yelow: rgb(255, 255, 204);
  --about-and-donation-background-color: var(--light-yelow);

  --white-values: 240, 240, 240;
  --white: rgb(var(--white-values));
  --quote-text-name: var(--white);
  --donate-box-background-color: var(--white);
  --donation-button-background: var(--white);
  --active-donation-button-text: var(--white);
  --default-button-text: var(--white);

  --white-transparent: rgba(var(--white-values), 0.8);
  --nav-bar-background: var(--white-transparent);

  --gray-158: rgb(158, 158, 158);
  --general-border-color: var(--gray-158);

  --gray127: rgb(127, 127, 127);
  --questions-blurb-test: var(--gray127);

  --gray-89: rgb(89, 89, 89);
  --donation-increase-text: var(--gray-89);

  --section-top-bottom-padding: 0;
  --gutter-width: 2em;

  --default-font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-family: var(--default-font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body:has(.contact-us-form[open]) {
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  max-width: 80%;
  position: relative;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  background-color: var(--default-button-background);
  color: var(--default-button-text);
  border: 2px solid transparent;
  padding: 0.6em 2em;
  font-size: 0.8rem;
  font-weight: 500;
  outline-width: 0;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.plain-text-button {
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  /* text-decoration: underline; */
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em 2em;
  display: flex;
  flex-direction: row;
  gap: 3em;
  background-color: var(--nav-bar-background);

  a {
    color: var(--nav-bar-text);
    font-weight: bold;
  }

  a:hover {
    color: var(--nav-bar-text);
    text-decoration: underline;
  }
}

.about-and-donation {
  padding: var(--section-top-bottom-padding) var(--gutter-width);
  background-color: var(--about-and-donation-background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--header-text);
  max-width: 60%;
  align-self: center;
  text-align: left; /* left-align each line */
  text-wrap: balance; /* balances line breaks */
}

.support-benefits-donate {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.support-matters-header {
  color: var(--support-matters-header-text);
}

.benefits {
  color: var(--benefits-text);
  font-weight: 600;

  ul {
    font-weight: normal;
    list-style-type: none;
    margin-top: 0;
    padding: 0;
  }

  ul li {
    padding-left: 2em;
  }

  ul li::before {
    content: '✔';
    padding-right: 0.4em;
  }
}

.donate-box {
  background-color: var(--donate-box-background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;

  h2 {
    font-size: 1rem;
  }

  /* Cleanup when I'm sure I don't want the code this styles */
  /* .donation-amount-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    button {
      display: block;
      border: 1px solid var(--general-border-color);
      background-color: var(--active-donation-button-background);
      color: var(--active-donation-button-text);

      &.not-current {
        background-color: var(--donation-button-background);
        color: var(--donation-button-text);
      }
    }
  }

  .text-wrapper {
    position: relative;

    .dollar-symbol {
      position: absolute;
      top: 0.1em;
      left: 0.2em;
    }

    .currency-type {
      position: absolute;
      top: 0.1em;
      right: 0.5em;
      opacity: 0.5;
    }

    input {
      display: block;
      font-size: 1.2rem;
      padding-left: 0.7rem;
      width: calc(100% - 1.1rem);
      margin-bottom: 0.8rem;
    }
  }

  .increase-blurb-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8rem;
    color: var(--general-text);
    margin-bottom: 0.8rem;
    gap: 0.5rem;

    .increase-icon {
      display: block;
      top: 0.2em;
      left: 0.5em;
      height: 2em;
      width: 2em;
      color: var(--increase-donation-button-fill);
      fill: var(--increase-donation-button-fill);
    }

    p {
      color: var(--donation-increase-text);
      margin: 0;
    }
  }

  .submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    font-size: 0.9rem;
    padding: 0.6em 2em;
    background-color: var(--increase-donation-button-fill);
    text-transform: uppercase;

    span {
      line-height: 1.2;
    }
  } */

  a {
    border: 2px solid transparent;
    /* width: 100%; */
    text-align: center;
    font-size: 0.9rem;
    padding: 0.6em 2em;
    color: var(--default-button-text);
    background-color: var(--increase-donation-button-fill);
    text-transform: uppercase;

    span {
      line-height: 1.2;
    }

    &:hover {
      border-color: #646cff;
    }
  }
}

.questions-text {
  font-size: 0.9rem;
  color: var(--questions-blurb-test);
  text-align: center;
  width: 70%;
}

.contact-us-form {
  border-width: 0;
  border-radius: 8px;
  overscroll-behavior: contain;

  input,
  textarea {
    display: block;
    font-family: var(--default-font-family);
    font-size: 1rem;
    margin-bottom: 0.8rem;
    padding: 0.5em 1em;
    width: 100%;
  }
}

/* @media (prefers-color-scheme: dark) {

} */
